---
---

<h2>Get in contact</h2>
<form
  id="contact"
  name="contact"
>
  <label for="name">name</label><input
    id="name"
    type="text"
    name="name"
  />

  <label for="email">email</label><input
    id="email"
    type="email"
    name="email"
  />

  <label for="message">message</label>
  <textarea
    id="message"
    name="message"
    rows="8"
  ></textarea>
  <button type="submit">send message</button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
  }
  label {
    position: relative;
    top: 0.75rem;
  }
  label,
  button {
    font-weight: 800;
  }
</style>
