---
import Nav from './nav.astro';
const { category } = Astro.props;
---

<header>
  <p class="site-title">
    <a href="/"> No Stories <span>-just-</span> Recipes</a>
  </p>
  <Nav category={category} />
</header>
<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .site-title {
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(
      180deg,
      #1f005c,
      #3d0d73,
      #5f208b,
      #8538a2,
      #aa55b9,
      #cf78d0,
      #e8a0e0,
      #ffcdf3
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
    margin: 1rem 0;
  }
</style>
