---
import Nav from './nav-component.astro';
const { category } = Astro.props;
---

<header>
  <p class="site-title heading">
    <a href="/">
      No Stories just Recipes
      <Nav category={category} />
    </a>
    <style>
      header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
      }
      .site-title {
        font-size: 4em;
        margin: 0 0 1rem 0;
        text-align: center;
      }
      p a {
        text-decoration: none;
        color: var(--text-on-light);
      }
    </style>
  </p>
</header>
