---
---

<h2>Social Media</h2>

<div class="social-wrapper">
  <div class="social linkedin">
    <a href="https://www.linkedin.com/in/roy-mosby/"
      ><img
        src="/images/icons/LinkedIn-Black.png"
        alt=""
      /></a
    >
  </div>
  <div class="social">
    <a href="https://github.com/royemosby"
      ><img
        src="/images/icons/GitHub-black.png"
        alt=""
      /></a
    >
  </div>
  <div class="social">
    <a href="https://codepen.io/royemosby"
      ><img
        src="/images/icons/CodePen-black.png"
        alt=""
      /></a
    >
  </div>
</div>

<style>
  h2 {
    margin-bottom: 1rem;
    width: ;
  }
  .social-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    /*credit: https://isotropic.co/tool/hex-color-to-css-filter/ */
    filter: invert(61%) sepia(98%) saturate(3056%) hue-rotate(330deg)
      brightness(99%) contrast(91%);
  }
  .social {
    height: 80px;
    width: 80px;
    padding: 0.25rem;
  }
  .linkedin {
    transform: scale(0.95);
    opacity: 95%;
  }
  .social img {
    height: 100%;
  }
</style>
