---
---

<h2>Social Media</h2>

<div class="social-wrapper">
  <div class="social linkedin">
    <a href="https://www.linkedin.com/in/roy-mosby/"
      ><img
        src="public/images/icons/LinkedIn-black.png"
        alt=""
      /></a
    >
  </div>
  <div class="social">
    <a href="https://twitter.com/royemosby"
      ><img
        src="public/images/icons/Twitter-black.png"
        alt=""
      /></a
    >
  </div>
  <div class="social">
    <a href="https://github.com/royemosby"
      ><img
        src="public/images/icons/GitHub-black.png"
        alt=""
      /></a
    >
  </div>
  <div class="social">
    <a href="https://codepen.io/royemosby"
      ><img
        src="public/images/icons/CodePen-black.png"
        alt=""
      /></a
    >
  </div>
</div>

<style>
  .social-wrapper {
    opacity: 60%;
    display: flex;
    justify-content: space-around;
  }
  .social {
    height: 100px;
    width: 100px;
  }
  .social img {
    height: 100%;
  }
</style>
