---
import { getCollection } from 'astro:content';
import IndexLayout from '../../layouts/index-layout.astro';
import { collectionCategory } from '../../layouts/base-layout.astro';
const title = 'drafts';
const description = 'A list of drafts found on this site';
const pagination = {
  size: 10,
  reverse: true,
};
const drafts = await getCollection('drafts');
const sortedRecipes = drafts.sort((a, b) => {
  const aTitle = a.data.title.toLowerCase();
  const bTitle = b.data.title.toLowerCase();
  if (aTitle < bTitle) return -1;
  if (bTitle < aTitle) return 1;
  return 0;
});
---

<IndexLayout
  category={collectionCategory.DRAFTS}
  pageDescription="upcoming resources"
  pageTitle="Drafts"
>
  <div class="center">
    <h1>On the back burner...</h1>
  </div>
  {sortedRecipes.map((draft) => <div>{draft.data.title}</div>)}
</IndexLayout>
